.footer {
    padding: 20px;
    background-color: #02a4fc;
    color: white;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  