@tailwind base;
@tailwind components;
@tailwind utilities;

.loading.universal{
  mask-size: 3rem;
}

.search.input {
  outline-color: #80230b;
}

.categories {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  scrollbar-width: thin;
  scrollbar-color: #d47b004a transparent;
}

.category-card:hover {
  filter: drop-shadow(2px 4px 3px brown);
  transition: all .4s ease-in-out;
}


.form-input:focus {
  outline: 2px solid orange;
}


.form-input:focus:invalid {
  outline: 2px solid red;
}

.message-box{
  scrollbar-width: thin;
  scrollbar-color: #9f00ff4a transparent;
}


@media (width < 780px) {
  .categories {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .categories div {
    min-width: 153px;
  }
}



@media (width < 695px) {
  .profile-lg {
    display: none;
  }

  .profile-sm {
    display: inline;
  }

  .sell-btn {
    position: fixed;
    top: 88vh;
    right: 36%;
    z-index: 1000;
  }

  .SellBtn_button__CyGQI::after {
    box-shadow: 0px 0px 13px 4px brown;
    box-shadow: 0px 0px 13px 4px brown;
  }

  .SellBtn_hover__MUkx8:hover~button::after {
    top: -170% !important;
  }

  .card {
    flex-direction: column;
    height: 29rem;
    width: fit-content;

  }

  .card-divider {
    height: 1px;
    width: 100%;
  }

  .card-img-div {
    height: 56%;
  }

  .card-img-div img {
    box-shadow: none;
  }

  .card .cross {
    background-color: #f2f3f5;
    margin-top: 6px;
  }

  .card-body {
    padding: 1rem;
    gap: 2px;
    justify-content: space-evenly;
  }
}
/* Transition for Dark Mode */
@layer base {
  body {
    @apply transition-colors duration-200;
  }
}




